---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>jaaaaaaa</h1>
  <canvas>Pico-Park-canvas</canvas>
  <script>
    import { crearMarco, crearUnCirculo } from "@cuerpos/cuerpos";
    import { MotorFisico } from "@motor/motor";
    const lienzos = document.querySelectorAll<HTMLCanvasElement>(
      `canvas[Pico-Park-canvas]`,
    );
    lienzos.forEach((lienzo) => {
      const marco = crearMarco(lienzo);
      const limitesLienzo = lienzo.getBoundingClientRect();
      const circulo = crearUnCirculo({
        x: limitesLienzo.width / 2,
        y: limitesLienzo.height / 2,
        radio: 10,
        colorDeRelleno: "#000",
      });
      const engine = new MotorFisico({
        lienzo,
        cuerpos: [...marco, circulo],
      });

      engine.comenzar();
    });
  </script>
</Layout>
